<div class="board">
  <div class="topbar">
    <div class="remain"></div>
    <div class="emoji"></div>
    <div class="time"></div>
  </div>
  <div class="field" [ngClass]="{reveal: reveal}">
    <table>
      <tbody>
        <ng-template ngFor let-row [ngForOf]="board" let-i="index">
          <tr>
            <ng-template ngFor let-col [ngForOf]="row" let-j="index">
              <td>
                <button (click)="checkClick(i, j)" [ngClass]="{reveal: board[i][j].show}">
                  <i class="fa fa-bomb" *ngIf="reveal && board[i][j].bomb"></i>
                  <i class="fa fa-flag" *ngIf="board[i][j].status == 1"></i>
                  <i class="fa fa-question" *ngIf="board[i][j].status == 2"></i>
                  <span class="count t-{{board[i][j].count}}"
                    *ngIf="(reveal || board[i][j].show) && board[i][j].count">{{board[i][j].count}}</span>
                </button>
              </td>
            </ng-template>
          </tr>
        </ng-template>
      </tbody>
    </table>
  </div>

  <div>
    <h4>Setup</h4>
    <br>
    <div>
      <label for="width">Colunas</label>
      <input type="text" name="width" [(ngModel)]="width" />
    </div>
    <div>
      <label for="height">Linhas</label>
      <input type="text" name="height" [(ngModel)]="height" />
    </div>
    <div>
      <label for="n_bombs">N Bombas</label>
      <input type="text" name="n_bombs" [(ngModel)]="n_bombs" />
    </div>
    <button (click)="setupBoard()">Setup Bombs</button>
  </div>
</div>